*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	overflow: hidden;
}

@font-face{
	src: url("../fonts/Gordita-Regular.otf");
	font-family: "Gordita";
}

#canvas{
	position: absolute;
	z-index: 200;
}

#segundacamada{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

/*============================================================HEADER */
header{
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 700;
}

#navbar .navbarline{
	width: 20px;
	height: 2px;
	background-color: #000;
	margin: 3px;
}

#navbar .navbarline:nth-child(2){
	width: 15px;
}

#menu{
	width: 200px;
	height: 110px;
	background-color: #fff;
	box-shadow: 0px 0 5px 1px rgba(0,0,0,0.2);
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	transition: all 0.5s;
	opacity: 0;
	right: 20px;
	top: 20px;
	transform: translateX(220px);
	z-index: 1000;
}

#menu #bself{
	color: orange;
	font-size: 1.3em;
	font-weight: 600;
	font-family: "Gordita";
}

#menu #menu_conteudo{
	font-size: 0.8em;
	font-family: "Gordita";
	margin-top: 17px;
}

#menu_conteudo p{
	margin-top: 3px;
}

/*==============================================================FOOTER */
footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	
}

#ferramentas{
	width: 400px;
	height: 70px;
	padding: 0 30px;
	background-color: #fff;
	box-shadow: 0px 0 5px 1px rgba(0,0,0,0.4);
	border-radius: 6px 6px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	transition: all 0.5s;
	position: relative;
	z-index: 400;
}

#ferramentas div{
	width: 70px;
	height: 50px;
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

#ferramentas .fa{
	cursor: pointer;
	margin: auto;
}

/* =======================================================SECCOES DE AUXILIO PARA AS FERRAMENTAS */
#auxilioFerramentas{
	height: 305px;
	position: relative;
	overflow: hidden;
}


/* ESTILO DO AUXILIO PADRAO DE TODAS FERRAMENTAS */
.estiloAF{
	width: 200px;
	height: 105px;
	background-color: #fff;
	box-shadow: 0px 0 5px 1px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: auto;
	position: absolute;
	right: calc(50% - 100px);
	bottom: 5px;
	padding: 10px 10px 15px 10px;
	font-family: "Gordita";
	font-size: 0.7em;
	font-weight: 600;
	opacity: 0;
	display: flex;
	transform: translateY(200px);
	flex-flow: column;
	justify-content: space-between;
	z-index: 400;
}

#auxilioApagador button, #auxilioFiguras button{
	background-color: #fff;
	border-radius: 3px;
	border: solid 1px #000;
	padding: 5px;
	outline: none;
	cursor: pointer;
	transition: all 0.5s;
}

#auxilioFiguras{
	height: 180px;
	padding: 10px;
}

#auxilioFiguras #todasFiguras{
	display: flex;
	align-items: center;
	cursor: pointer;
}

#todasFiguras .estiloF{
	height: 40px;
	padding-right: 20px;
	font-size: 2.3em;
	display: flex;
	align-items: center;
}

#auxilioFiguras #figuraRectaContent{
	width: 30px;
	height: 2px;
	background-color: #000;

}

#auxilioCores{
	width: 500px;
	height: 200px;
	flex-flow: row;
	padding: 10px;
	justify-content: space-between;
}

#auxilioCores #padraocores{
	width: 220px;
	height: 180px;
}

#auxilioCores #customizarCor{
	width: 200px;
}

#customizarCor .estiloRGB{
	display: flex;
}

.estiloRGB p{
	margin-right: 10px;
}

#customizarTitulo{
	font-size: 1.3em;
}

#tiposCustomizar{
	width: 170px;
	height: 100%;
	margin-top: 25px;
	position: relative;
	overflow: hidden;
}

#customizarNormal, #customizarGradiente{
	position: absolute;
	font-size: 0.9em;
	transition: all 0.5s;
	left: -100%;
	opacity: 0;
}

#customizarGradiente #campoRGB2{
	margin-top: 12px;
}

#auxilioCores .palCor{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	float: left;
	margin: 0 12px 6px 0;
	cursor: pointer;
}

#botaoCores{
	display: flex;
	margin-top: 10px;
}

#botaoNormal, #botaoGradiente{
	background-color: #fff;
	border: solid 1px #000;
	padding: 5px;
	outline: none;
	cursor: pointer;
	transition: all 0.5s;
	font-family: "Gordita";
	font-size: 0.9em;
	transition: all 0.5s;
}

#botaoGradiente{
	border-radius: 0 3px 3px 0;
}

#botaoNormal{
	border-right: none;
	border-radius: 3px 0 0 3px;
}

#corEmUso{
	width: 40px;
	height: 100%;
	position: relative;
}

#corEmUsoCont{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	transition: all 0.5s;
	background-color: #000;
	position: absolute;
	bottom: 0;
	box-shadow: 0px 0 5px 1px rgba(0,0,0,0.2);
}

.palCor:nth-child(1){background-color: #000;}
.palCor:nth-child(2){background-color: #fff; box-shadow: 0px 0 5px 1px rgba(0,0,0,0.2);}
.palCor:nth-child(3){background-color: #3e57d4;}
.palCor:nth-child(4){background-color: #3ed443;}
.palCor:nth-child(5){background-color: #d4bb3e;}
.palCor:nth-child(6){background-color: #d43e3e;}
.palCor:nth-child(7){background-color: #d43e8a;}
.palCor:nth-child(8){background-color: #7f3ed4;}
.palCor:nth-child(9){background-color: #473ed4;}
.palCor:nth-child(10){background-color: #3ed4b8;}
.palCor:nth-child(11){background-color: #3ed44a;}
.palCor:nth-child(12){background-color: #773b3b;}
.palCor:nth-child(13){background-color: #3b7753;}
.palCor:nth-child(14){background-color: #3b4b77;}
.palCor:nth-child(15){background-color: #5a3b77;}
.palCor:nth-child(16){background-color: #dc3746;}

/*======================================================= ESTILOS PARA MOSTRAR E ESCONDER ELEMENTOS */
.caixaFerramentas{
	transition: all 0.5s;
}

.esconderFerramentas{
	opacity: 0.4;
	z-index: -1000;
}

.mostrarAuxilio{
	opacity: 1;
	transform: translateY(0);
}

.mostrarMenu{
	opacity: 1 !important;
	transform: translateX(-27px) !important;
}

.preencherFiguras{
	background-color: #000 !important;
	color: #fff;
}

.selecionarBotaoCor{
	background-color: #000 !important;
	color: #fff;
}

.selecionarCustomizador{
	left: 0 !important;
	opacity: 1 !important;
}

/*===========================================================ESTILIZANDO TODOS OS RADIUS */
input[type=range]{
	-webkit-appearance: none;
	width: 100%;
	background: none;
}

input[type=range]:focus{
	outline: none;
}

/*  PARA O ESTILIZACAO DO CIRCULO PARA O GOOGLE CHROME */
input[type=range]::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: #000;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	cursor: grabbing;
	margin-top: -4px;
}

/*  PARA O ESTILIZACAO DO CIRCULO PARA O FIREFOX */
input[type=range]::-moz-range-thumb{
	background-color: #000;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	cursor: grabbing;
}

/*  ESTILIZACAO DA BARRA PARA O CHROME */
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #000;
	border-radius: 10px;
}

/*  ESTILIZACAO DA BARRA PARA O FIREFOX */
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #000;
	border-radius: 10px;
}